target
.idea
.bsp
.bloop
.vscode
.metals
project/metals.sbt
project/project
build

node_modules
yarn-error.log
.DS_Store

/modules/website/dist/
/modules/website/.pnp.js
/modules/website/.yarn/cache
/modules/website/.yarn/unplugged
/modules/website/.yarn/build-state.yml
/modules/website/.yarn/install-state.gz
